* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Pacifico-Regular";
  /* font-family: Pacifico, sans-serif; */
  font-size: 18px;
  line-height: 1.7;
  color: #909090;
  font-weight: 400;
}
.conteiner {
  max-width: 1110px;
  margin: 30px 50px;
  text-align: center;
  padding: 30px;
}

h1 {
  color: #303030;
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: 700;
}
h3 {
  color: #303030;
  line-height: 1.2;
  font-weight: 700;
}
.name {
  color: #303030;
  line-height: 1.2;
  font-weight: 700;
}

img {
  max-width: 100%;
  box-shadow: 0 0 20px;
  border-radius: 0.5rem;
  border: 0px solid;
}

.btm {
  text-align: right;
}

a {
  color: blue;
  text-align: right;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.card {
  max-width: 300px;
  padding: 1rem;
  display: inline-block;
  border-radius: 1rem;
  margin: 50px 0px;
  border: 0px solid;
  box-shadow: 0 0 30px rgba(50, 50, 100, 0.25);
}

p {
  padding: 0.5em;
}
