:root {
  --container-width: 1240px;
  --basic-space: 1rem;
  --primary-color: #ffffff;
  --secondary-color: #153416;
  --text-color: #161616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

body {
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  margin-left: auto;
  margin-right: auto;
}

.text-green {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  color: #153416;
  text-align: center;
}

img {
  max-width: 100%;
}

.background-50 {
  background-color: #16151580;
}
.background-25 {
  background-color: #e9e9e940;
}
/*-----------------registr=----------------------------------*/
