:root {
  --container-width: 1600px;
  --container-small-width: 1360px;
  --basic-space: 1rem;
  --Active-Regular: #24a3ff;
  --Main-Regular: #323264;
  --Grey-Text: #b3b3ba;
  --Basic-White: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.21;
  color: #000;
}
body {
  min-height: 100vh;
  /* overflow: hidden; */
  /* display: grid; */
}

img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  margin-left: auto;
  margin-right: auto;
}

.container.small {
  max-width: calc(var(--container-small-width) + var(--basic-space) * 2);
}

.text-12x700 {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-12x700x1x {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.text-12x700g {
  color: var(--Grey-Text, #b3b3ba);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.text-14x400 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
}
.text-14x700b {
  color: var(--Active-Regular, #24a3ff);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.text-16x700 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text-16x400 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.62;
}
.text-18x400w {
  color: var(--Basic-White, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.text-19x400w {
  color: var(--Basic-White, #fff);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
}
.text-21x400 {
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42;
}

.text-22x700w {
  color: var(--Basic-White, #fff);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text-36x400 {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-38x700 {
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text-30x700 {
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.a_blak {
  color: #000;
}
.t-left {
  text-align: left;
}
.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.a-i-center {
  align-items: center;
}
.a-i-flex-start {
  align-items: flex-start;
}
.f-d-column {
  flex-direction: column;
}
.f-d-row {
  flex-direction: row;
}
.f-w-wrap {
  flex-wrap: wrap;
}

.f-w-nowrap {
  flex-wrap: nowrap;
}

.a__none {
  text-decoration: none;
}

.grid {
  display: grid;
}
.color-active {
  color: #24a3ff;
}
.color-main {
  color: #323264;
}
.color-text {
  color: #b3b3ba;
}
.text-whith {
  color: #fff;
}
.bg {
  background-color: blueviolet;
}
.text-d {
  text-decoration: #f0145a;
}

.Main-Alt {
  color: #46466e;
}

/*------------------------крапка в ручну---------------------*/

/* (<span class="dot" > </span >) */

.dot {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #b3b3ba;
  align-items: center;
}

/*-------------------------------burger------------------*/
.burger {
  display: none;
}
.close {
  display: none;
}
/*-----------------header=----------------------------------*/
.header {
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 6px;
}
.wrap.grid {
  grid-template-areas:
    "a b"
    "a c";
}

.grid .item1 {
  grid-area: a;
}
.grid .item2 {
  grid-area: b;
}
.grid .item3 {
  grid-area: c;
  margin-top: 18.5px;
}

.Facebook-Header svg:hover path {
  fill: #f0145a;
}
.bor-bot {
  border-bottom: 2px solid #f0145a;
  padding-bottom: 3px;
}

.nav-link + .nav-link {
  margin-left: 15px;
}
.nav-link:hover {
  border-bottom: 2px solid #24a3ff;
  padding-bottom: 3px;
}
.nav-link:active {
  text-decoration: #f0145a;
  color: #f0145a;
}

.nav a {
  text-decoration: none;
  color: var(--text-color);
}
.nav {
  color: var(--Active-Regular, #24a3ff);
}
input[type="radio"] {
  display: none;
}
.language-label .radio {
  display: inline-block;
  padding: 7px 9px;
  align-items: center;

  border-radius: 8px;
  cursor: pointer;
  color: #b3b3ba;
}
.language-label:hover .radio {
  /* background-color: rgb(0, 102, 255); */
}

.language-label:hover .radio {
  color: #fff;
  background-color: #b3b3ba;
}
/* .language-label:active .radio {
 
}
.language-label:active .radio {
  color: #fff;
} */
.language-label input:checked + .radio {
  background-color: #f0145a;
  color: #f5f5fa;
}

/*-------------------------------title-------------------------*/
.title {
  margin: 60px auto 60px auto;
  background: var(
    --Gradient-Red-Text,
    linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: var(
    --Gradient-Red-Text,
    linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*------------------------blok1----------------------*/
.blok .container {
  padding: 0 60px 0 60px;
}

.wrapper {
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-bottom: 60px;
}
.wrapper h5 {
  margin-top: 15px;
  margin-bottom: 5px;
}
.foto {
  border-radius: 12px;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}
.card:hover h5 {
  color: #f0145a;
}
.card:hover svg path {
  stroke: #f0145a;
}
.card.grid {
  grid-template-areas:
    "a a"
    "a a"
    "b d"
    "c d";
  align-items: center;
}
.card p {
  max-width: 350px;
}

.grid .element1 {
  grid-area: a;
}
.grid .element2 {
  grid-area: b;
}
.grid .element3 {
  grid-area: c;
}
.grid .element4 {
  grid-area: d;
  align-self: auto;
  text-align: right;
}

/*-------------------------------footer------------------------------*/
.footer {
  padding: 30px 0 30px;
}
.f-bg {
  background-color: #f5f5fa;
}
.map a:hover {
  color: #f0145a;
}
.map {
  margin-bottom: 21px;
}
.llc {
  color: var(--Grey-Text, #b3b3ba);
}
.krapka {
  color: #b3b3ba;
  margin: 0 10px 0 10px;
}
.navigation {
}

.tel:hover {
  color: #767676;
}

.social-face svg:hover path {
  fill: #f0145a;
}
.contact:hover {
  color: #f0145a;
}
/*--------------------------------adaptiv--main----------------------------------------------*/
@media screen and (max-width: 1320px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }

  .foto {
    width: 100%;
    height: 400px;
    align-self: stretch;
  }
}
@media screen and (max-width: 1072px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-bottom: 60px;
  }

  .wrap.grid {
    grid-template-areas: "b" "a" "c";
  }

  .grid .item1 {
    grid-area: a;
    margin: 30px 0;
  }
  .grid .item2 {
    grid-area: b;
  }
  .grid .item3 {
    grid-area: c;
    justify-content: flex-start;
  }

  .foto {
    height: 400px;
    align-self: stretch;
  }
  .title {
    max-width: 664px;
  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
    margin-bottom: 60px;
  }
  .header {
    margin-top: 0px;
  }

  .header .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .header .item2 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header .item1 {
    padding-left: 15px;
  }

  .foto {
    width: 100%;
    height: 400px;
    align-self: stretch;
  }
  .item3 {
    position: relative;
    max-width: 100%;
  }

  .burger {
    z-index: 10;
    position: absolute;
    top: -20px;
    right: 17px;
    display: flex;
    cursor: pointer;
  }
  .burger svg rect {
    fill: transparent;
  }
  .burger.active svg rect {
    fill: #e6e6f0;
  }

  .nav {
    display: none;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 20px;
    gap: 20px;
    border-radius: 12px 12px 12px 12px;
  }
  .bg-menu.active {
    display: flex;
    z-index: 20;
    inset: 0;
    position: fixed;
    padding: 8px;
    margin-left: 12px;
  }
  .bg-menu {
    inset: 0;
    position: fixed;
    display: none;
    background-color: #323264;
  }
  .nav.active {
    display: flex;
  }
  .close {
    display: flex;
    justify-content: flex-end;
    border-radius: 12px 12px 12px 12px;
    cursor: pointer;
    width: 100%;
    max-width: 335px;
    border-radius: 12px;
  }
  .close:hover svg path {
    stroke: #ec6f5d;
  }

  .nav-link + .nav-link {
    margin-left: 0px;
    padding: 7px 0 7px 0;
  }
  .nav-link {
    width: 100%;
    max-width: 335px;
    border-radius: 12px;
    background-color: #f5f5fa;
    padding: 7px 0 7px 0;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .bor-bot {
    border-bottom: 0px;
    padding-bottom: 0px;
  }

  .nav-link:hover {
    text-decoration: none;
    background-color: #bfbfc8;
    border-bottom: 0px;
    padding-bottom: 0px;
    padding: 7px 0 7px 0;
  }
  .contact {
    flex-direction: column;
    gap: 25px;
  }

  .wrap.grid {
    grid-template-areas:
      "b b"
      "a c";
  }

  .grid .item1 {
    grid-area: a;
  }
  .grid .item2 {
    grid-area: b;
  }
  .grid .item3 {
    grid-area: c;
  }
  .item2 .krapka {
    display: none;
  }
  .item2 .Facebook-Header {
    display: none;
  }
  .item2 p {
    display: none;
  }
  .item2-team {
    justify-content: space-between;
    background-color: #f5f5fa;
    padding: 10px 15px;
  }
}
@media screen and (max-width: 573px) {
  .header {
    min-width: 350px;
  }

  .blok .container {
    padding: 0px;
  }
  .wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0 30px 0 30px;
    margin-bottom: 30px;
  }

  .title {
    margin-right: auto;
    max-width: 315px;
    font-size: 30px;
  }
  .foto {
    width: 100%;
    max-height: 100%;
    align-self: stretch;
  }

  .navigation .krapka {
    display: none;
  }
  .sochial {
    flex-direction: column;
  }
  .map {
    flex-direction: column;
  }
  .map a {
    margin-top: 10px;
  }
  .sochial .tel {
    margin: 10px 0 10px;
  }
  .llc {
    text-align: center;
  }
}
.card p {
  min-width: 268px;
}
/*-------------------------------------------contact-------------------------------*/

.wrapper-cont {
  grid-template-columns: repeat(2, 1fr);
}

.wrap-cont {
  width: 100%;
  max-width: 590px;
  margin-top: 60px;
  margin-right: 60px;
}

.cont-adress {
  color: #323264;
  margin-bottom: 30px;
}

.cont-tel {
  max-width: 131px;
  color: #323264;
  margin-top: 30px;
  margin-bottom: 15px;
}
.cont-email {
  max-width: 255px;
  color: #24a3ff;
  margin-bottom: 30px;
}
.cont-email:hover {
  color: #f0145a;
}
.cont-text {
  color: #24a3ff;
  max-width: 120px;
  padding-left: 10px;
}
.cont-fase:hover a svg path,
.cont-fase:hover a p {
  fill: #f0145f;
  color: #f0145a;
}

.cont-fase {
  align-items: center;
  max-width: 160px;
  margin-top: 30px;
}
.cont-border {
  height: 4px;
  align-self: stretch;
  background: var(--Grey-Separator, #e6e6f0);
}

.cont-title {
  background: var(
    --Gradient-Red-Text,
    linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form-cont {
  max-width: 620px;
  border-radius: 12px;
  background-color: var(--Grey-Bg, #f5f5fa);
  padding: 30px;
  flex-direction: column;
  gap: 30px;
  margin: 60px 0 60px;
}
::placeholder {
  display: flex;
  align-items: flex-start;
  color: #b3b3ba;
}
.placeholder {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--Basic-White, #fff);
  background: var(--Basic-White, #fff);
}

.Name {
  border-radius: 8px;
  border: 1px solid var(--Basic-White, #fff);
  background-color: var(--Basic-White, #fff);
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  color: #b3b3ba;
  transition: border-color 0.3s;
}
.Name:hover {
  border-color: #24a3ff;
}
textarea {
  resize: none;
}
.Message {
  transition: border-color 0.3s;
  width: 100%;
  height: 130px;
  padding: 15px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Basic-White, #fff);
  background-color: var(--Basic-White, #fff);
  color: #b3b3ba;
}

.Message:hover {
  border-color: #24a3ff;
}
.form-cont h3 {
  color: #b3b3ba;
}
.form-blok1 {
}

.form-blok2 {
  margin-top: 30px;
}
.Phone-number {
  margin: 15px 0 15px;
  color: #b3b3ba;
  transition: border-color 0.3s;
}
.Phone-number:hover {
  border-color: #24a3ff;
}
.Email-cont {
  color: #b3b3ba;
  transition: border-color 0.3s;
}
.Email-cont:hover {
  border-color: #24a3ff;
}
.cont-btn {
  margin-top: 30px;
  padding: 18px 30px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  align-self: stretch;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  border: 0px;
  background: var(--Active-Regular, #24a3ff);
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  cursor: pointer;
}
.cont-btn:hover {
  border-radius: 12px;
  background: var(--active-hover, #0085ff);
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
}
.cont-btn:active {
  border-radius: 12px;
  background: var(--active-active, #006ccf);
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
}

/*---------------adaptive-contact---------------------*/
@media screen and (max-width: 1320px) {
}

@media screen and (max-width: 1230px) {
  .wrapper-cont {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding: 0 60px 0 60px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1026px) {
  .wrapper-cont {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding: 0 60px 0 60px;
    margin-bottom: 60px;
  }

  .cont-title {
    max-width: 322px;
  }
}
@media screen and (max-width: 870px) {
  .wrapper-cont {
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
    padding: 0 60px 0 60px;
    margin-bottom: 60px;
  }
  .item2-cont {
    justify-content: space-between;
    padding: 10px 15px;
  }
  .cont-title {
    max-width: 362px;
  }
}
@media screen and (max-width: 573px) {
  .header {
    min-width: 340px;
  }
  .item2-cont {
    justify-content: space-between;
    background-color: #f5f5fa;
    padding: 10px 15px;
  }
  .item1 .logo img {
    width: 100%;
    max-width: 166px;
  }
  .cont-title {
    width: 100%;
    max-width: 210px;
  }
}

/*-------------------------------------services--------------------------------------------------------*/
.bg-servic {
  background-color: #323264;
}
.bg-servic-2 {
  background-color: #f5f5fa;
}

.psefdo::after {
  content: "";
  display: inline-block;
  width: 1480px;

  border-radius: 0px 0px 12px 12px;
  background-color: #cacadb;

  height: 10px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}

.psefdo2::after {
  content: "";
  display: inline-block;
  width: 1440px;

  border-radius: 0px 0px 12px 12px;
  background-color: #e7e7f2;
  margin-bottom: 60px;
  height: 10px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}
.header.bg-servic {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
}
.bg-gradient {
  padding-top: 60px;
  padding-bottom: 60px;

  border-radius: 0px 0px 12px 12px;
  background: var(
    --Gradient-Supersoft,
    linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%)
  );
}
.language-label-servic .radio {
  display: inline-block;
  padding: 7px 9px;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
}

.language-label-servic:hover .radio {
  color: #fff;
  background-color: #b3b3ba;
}

.language-label-servic input:checked + .radio {
  background-color: #f0145a;
  color: #f5f5fa;
}

.servic .nav .nav-link:hover {
  max-width: 335px;
  border-bottom: 2px solid #b3b3ba;
  padding-bottom: 3px;
  color: #b3b3b3;
}
.servic .nav .nav-link {
  color: #ffffff;
}
.servic .nav-link:active {
  text-decoration: #f0145a;
  color: #f0145a;
}

.item2 {
  justify-content: space-between;
  padding: 10px 15px;
}

.servic-line {
  height: 4px;
  align-self: stretch;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 60px 0 30px;
}

.wrap-servic {
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  border-radius: 8px;
}
.wrap-servic a:hover {
  color: #f0145a;
}
.wrap-servic a {
  color: var(--Active-Regular, #24a3ff);
  cursor: pointer;
}
.servic-box {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
  max-width: 420px;
  border-radius: 0 0 8px 8px;
  background: var(--Basic-White, #fff);
}
.card-line-servic {
  height: 4px;
  align-self: stretch;
  background: var(--Grey-Separator, #e6e6f0);
}
.wrapper-servic {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #e6e6f0;
}
.Ecommerce-services {
  max-width: 92px;
  padding: 28px 0 28px;
  margin-left: auto;
  margin-right: auto;
}
.e-commerce {
  padding-bottom: 28px;
  background: var(
    --Gradient-Red-Text,
    linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.servic-title {
  width: 100%;
  margin-bottom: 60px;
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;
}
.servic-title h3 {
  padding: 0 0 30px;
}

.servic-btn {
  margin-top: 30px;
  padding: 18px 30px;
  max-width: 208px;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  border: 0px;
  background: var(--Active-Regular, #24a3ff);
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.servic-btn:hover {
  border-radius: 12px;
  background: var(--active-hover, #0085ff);
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
}
.servic-btn:active {
  border-radius: 12px;
  background: var(--active-active, #006ccf);
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
}
.servic-colum {
  columns: 2;
  margin-left: 1rem;
  gap: 60px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
li:not(:last-child) {
  padding-bottom: 15px;
}

li {
  max-width: 496px;
  position: relative;
  padding-left: 1px;
}

li::before {
  content: "\2022";
  color: red;
  position: absolute;
  left: -20px;
}

.servic-public:hover {
  color: #f0145a;
}

.servic-public:hover svg path {
  stroke: #f0145a;
}
.Recommended {
  background: var(
    --Gradient-Red-Text,
    linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  margin-bottom: 30px;
}

/*----------------------------------adaptive service-----------------------------------*/
@media screen and (max-width: 1230px) {
}

/*---------------------------------footer----------------------------------------------*/
.f-border {
  height: 4px;
  align-self: stretch;
  background: var(--Grey-Separator, #000);
}
