:root {
  --container-width: 1330px;
  --container-small-width: 1290px;
  --basic-space: 1rem;
  --primary-color: #ffffff;
  --secondary-color: #ff6336;
  --text-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Graphik LCG", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
}
body {
  min-height: 100vh;
}
main {
  background-color: var(--primary-color);
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  margin-left: auto;
  margin-right: auto;
}

.container.small {
  max-width: calc(var(--container-small-width) + var(--basic-space) * 2);
}

.text_b_12x15 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}
.text_b_15x15 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.text_b_15x20 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}
.t-roboto_15x25 {
  font-family: "Roboto";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}
.text_b_15x25 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66;
}
.text_w_16x45 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8;
}
.text_b_16x60 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 3.75;
}

.text_w_16x60 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 3.75;
}
.text_b_16x45 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8;
}
.text_w_17x60x600 {
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 3.53;
}

.text_b_18x25 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.38;
}
.text_b_20x30 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.text_b_20x30x600 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
}

.text_20x25x600 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
}
.text_b_40x50x600 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
}

.text_b_30x40x600 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
}
.text_b_30x40 {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}
.text_b_25x35 {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
.text_b_25x35x600 {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
}
.text_b_50x60 {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}
.text_b_35x50 {
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.42;
}
.text_b_65x70 {
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.07;
}
.text_b_65x75 {
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.15;
}
.text_b_25x35 {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
.text_b_25x30 {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.text_w_16x60x600 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 3.75;
}

img {
  max-width: 100%;
}
.a_blak {
  color: #000;
}
.bg-orange {
  background-color: #ff9c7d;
}
.t-left {
  text-align: left;
}
.t-center {
  text-align: center;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.a-i-center {
  align-items: center;
}
.f-d-column {
  flex-direction: column;
}
.f-w-wrap {
  flex-wrap: wrap;
}

.f-w-nowrap {
  flex-wrap: nowrap;
}
.z-idex_1 {
  z-index: 1;
}
.a__none {
  text-decoration: none;
}
.a-d-line {
  color: #000;
  text-decoration-line: underline;
}
.border_1_ {
  border: 1px solid #000;
}
.border_orange {
  border: 1px solid #ff6336;
}
/*-----------------header=----------------------------------*/
.header {
  background-color: var(--primary-color);
  padding: 31px 0 24px;
  border-bottom: 2px solid rgb(186, 186, 186);
  flex-wrap: nowrap;
}

.logo {
  margin-right: 51px;
}
.nav-link + .nav-link {
  margin-left: 50px;
}

.nav a {
  text-decoration: none;
  color: var(--text-color);
}
.nav {
  flex-grow: 1;
}
.header .btn {
  min-width: 120px;
  cursor: pointer;
}
/*------------------------blok1----------------------*/
.wrapper1 {
  margin-top: 97px;
  margin-bottom: 77px;
  position: relative;
}

.title .btn {
  min-width: 160px;
}
.title {
  max-width: 539px;
  flex-direction: column;
}
.title .descripion {
  max-width: 471px;
  padding-top: 51px;
  padding-bottom: 50px;
}
.title .text {
  margin-top: 24px;
  margin-bottom: 35px;
}

/*-----------------------------blok2--------------------------------------*/
.blok2 {
  background-color: #ff9c7d;
}
.wrapper2 {
  gap: 70px;
  padding-top: 98px;
  padding-bottom: 94px;
  margin-top: 70px;
}
.wrapper2 h2 {
  max-width: 720px;
  text-align: center;
}

/*--------------------------------------blok3---------------------------------*/
.wrapper3 {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.wrapper3:nth-child(2n) {
  flex-direction: row-reverse;
}
.wrapper3:first-child {
  margin-top: 0;
}
.wrap3 {
  max-width: 493px;
}
.wrap3 p {
  margin: 30px 0 30px 0;
}

/*=-------------------------------------blok4-----------------------------*/
.blok4 {
  background: #fff8e4;
}

.wrapper4 {
  padding-top: 60px;
  padding-bottom: 93px;
  margin-top: 70px;
}
.card {
  max-width: 330px;
  margin-bottom: 57px;
  margin-top: 58px;
}
.card h5 {
  padding: 23px 0 23px;
}
.games {
  max-width: 320px;
}

/*-------------------------------blok5-------------------------------*/
.wrapper5 {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 54px;
}
.card1 {
  max-width: 440px;
  margin-bottom: 20px;
}
.card1 p {
  max-width: 406px;
  margin-top: 34px;
  margin-bottom: 25px;
}
.wrap5 {
  margin-top: 25px;
}
.card1 .image1 {
  max-width: 145px;
  margin-top: 50px;
  margin-bottom: 49px;
}
.card1 .image2 {
  max-width: 179px;
  margin-top: 67px;
  margin-bottom: 67px;
}

.card1 .image3 {
  max-width: 179px;
  margin-top: 59px;
  margin-bottom: 58px;
}

/*-------------------------------blok6-------------------------------*/
.blok6 {
  background-color: #c9e8f2;
}
.wrapper6 {
  padding-bottom: 25px;
  margin-top: 80px;
}
.descripion6 {
  margin-top: 63px;
  margin-bottom: 23px;
}
.text6 {
  margin-bottom: 5px;
}
.foto {
  margin-right: 20px;
  margin-top: 53px;
  margin-bottom: 80px;
  margin-left: 60px;
}
/*-------------------------------blok7-------------------------------*/
.blok7 {
  background-color: #dabc98;
  position: relative;
}
.wrapper7 .descripion {
  max-width: 461px;
  margin-right: auto;
  margin-left: auto;
}
.wrapper7 {
  margin-bottom: 89px;
}
.cake {
  position: absolute;
  top: 75px;
  left: 70px;
}
.wrap7 {
  border-left: 2px solid #000;
  margin-top: 79px;
  margin-bottom: 80px;
}
.square1 {
  padding-right: 70px;
  padding-left: 71px;
  padding-top: 30px;
  padding-bottom: 22px;
}
.square2 {
  padding-right: 62px;
  padding-top: 30px;
  padding-bottom: 22px;
}

.star {
  margin-top: 20px;
  margin-bottom: 14px;
}

/*----------------------------------blok8-----------------------------*/

.wrapper8 h2 {
  max-width: 791px;
  margin-top: 80px;
}
.wrapper8 p {
  max-width: 539px;
  margin-bottom: 25px;
}
.wrapper8 img {
  margin-bottom: 32px;
}
.wrapper8 .btn {
  min-width: 193px;
  cursor: pointer;
  margin-bottom: 82px;
  border: 0px solid #000;
}

/*----------------------------------blok9-----------------------------*/
.blok9 {
  background-color: #ff9c7d;
}

.wrap9 h2 {
  max-width: 784px;
  padding-top: 100px;
}
.wrap9 p {
  margin-top: 29px;
  margin-bottom: 54px;
}
.wrap9 .btn {
  min-width: 160px;
  cursor: pointer;
  background-color: #000;
  margin-bottom: 80px;
  border: 0px solid #000;
}
.wrap9 {
  padding-top: 19px;
  padding-bottom: 80px;
  margin-top: 80px;
}
/*-------------------------------footer------------------------------*/
.footer {
  background-color: #eee;
}
.wrapper_footer {
  padding-top: 92px;
}
.footer_wrap {
  width: 370px;
  align-items: flex-start;
}
.footer_wrap h3 {
  margin-bottom: 28px;
}
.footer_wrap p {
  max-width: 290px;
}
.footer_wrap a {
  margin-top: 15px;
  margin-bottom: 95px;
}
.znak {
  margin-top: 31px;
  margin-bottom: 11px;
}
.wrapper_footer {
  border-bottom: 2px solid #000;
  margin-bottom: 48px;
}
.spisok1 h5 {
  margin-bottom: 15px;
}
.scroll {
  min-width: 187px;
  margin-right: 34px;
}
.list {
  margin-bottom: 15px;
}

.botton_path {
  padding-bottom: 43px;
}
.botton_path .descripion {
  max-width: 301px;
  margin-left: 14px;
}
.botton_path .text {
  flex-grow: 1;
}
